.main-left
	.left-link-wrap
		case sideEmph
			when 'recent'
				a.left-link(href='/stories/popular') Popular
				a.left-link.active-link(href='/stories/recent') Recent
				//a.left-link(href='/stories/active') Active
			when 'none'
				a.left-link(href='/stories/popular') Popular
				a.left-link(href='/stories/recent') Recent
				//a.left-link(href='/stories/active') Active
			default
				a.left-link.active-link(href='/stories/popular') Popular
				a.left-link(href='/stories/recent') Recent
				//a.left-link(href='/stories/active') Active
