extends layout

block content

	include nav.jade

	div.main-wrap
		.main-left
			p &nbsp
		
		.main-content
			.publish-box
				button(type="submit", class="btn btn-primary", id="submit-final") Publish Draft
				a(href="/postlink", class="btn btn-default discard-button", role="button") Discard Draft
				.submit-hint-wrap
					span.glyphicon.glyphicon-info-sign.span-story.info-glyph
					p.submit-hint Click text below to edit
			h3#theTitle.story-title2.text-center(contentEditable=true) #{theStory.title}
				
			#theContent(contentEditable="true") !{theStory.content}
	
		.main-right
			p &nbsp

	script(type='text/javascript').
		var storyData =!{JSON.stringify(theStory)}

	script(type='text/javascript', src="/javascripts/postlink.js")
